.image-wrapper {
    height: calc(100vh - 78px);
    overflow: hidden;
    position: relative;
}

.band-img {
    width: 100%;
    position: absolute;
    bottom: -78px;
}

.content {
    max-width: 1000px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-divider {
    width: 800px;
    height: 1px;
    background-color: grey;
    margin-top: 64px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*LATEST NEWS*/

.section-title {
    font-size: 35px;
    font-weight: 400;
    padding: 24px 16px;
    margin-top: 48px;
}

.carousel {
    width: 972px;
    max-width: 1020px; /* 3 items × 324px + margins */
    overflow: hidden;
    height: 560px;
    position: relative;
    margin: 0 auto; /* optional: center it */
}

.carousel-btns {
    position: absolute;
    top: 0;
    right: 0;
}

.carousel-btn {
    font-size: 24px;
    border: none;
    background: none;
    margin: 0 12px;
    transition: all 300ms ease;
}

.carousel-btn:hover {
    opacity: 50%;
}

.btn-inactive {
    opacity: 50%;
    cursor: default;
}

.carousel-content {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    transition: all 300ms ease;
    margin-top: 48px;
}

.carousel-obj {
    width: 324px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.obj-img-wrapper {
    width: 100%;
    height: 324px;
}

.obj-img {
    width: 90%;
}

.obj-title {
    font-size: 20px;
    margin: 12px;
}

.obj-info {
    margin: 0 12px 12px 12px;
}

.obj-read-more {
    cursor: pointer;
    transition: all 300ms ease;
}

.obj-read-more:hover {
    opacity: 50%;
}

.read-all-news-btn {
    background-color: black;
    color: white;
    font-family: Cinzel;
    font-size: 16px;
    border: none;
    padding: 12px 16px;
    transition: all 300ms ease;
}

.read-all-news-btn:hover {
    opacity: 50%;
}

/*SHOW DATES*/

.tour-dates {
    width: 100%;
}

.show {
    width: 100%;
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 12px;
    justify-content: space-between;
}

.show-tickets {
    background-color: black;
    color: white;
    font-family: Cinzel;
    padding: 6px 12px;
    border: none;
}

.show-tickets:hover {
    opacity: 50%;
}

.show-all-dates-btn {
    background-color: black;
    color: white;
    font-family: Cinzel;
    font-size: 16px;
    border: none;
    padding: 12px 16px;
    transition: all 300ms ease;
    margin-top: 48px;
}

.show-all-dates-btn:hover {
    opacity: 50%;
}

.section {
     margin-bottom: 48px;
}
